*{
    margin: 0px;
    padding: 0px;
}
h2{
    margin-top: 100px;
    text-align: center;
    font-size: 3rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form{
    background-color: grey;
    border:2px solid transparent;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 630px;
    padding: 30px;
    position: absolute;
}
label{
    margin-left: 20px;
    color:white;
    font-size:1.5rem;
}
input{
    padding: 10px;
    border-radius: 5px;
}
button{
    display: block;
    margin-left: 80px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
button:hover{
    background-color: green;
    color: white;
}
span{
    margin-left: 20px;
    color: black;
    background-color:white;
    padding: 10px;
    border-radius: 5px;
}